# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Git
.git
.gitignore

# Playwright local cache
/ms-playwright/
playwright-report/
test-results/

# Logs & temp
*.log
*.json
*.csv
*.tmp
*.bak
logs/
debug/
screenshots/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Build artifacts
Dockerfile
*.tar
*.zip

# Data / Output
downloads/
json_out/
output/
test/
