# Ignore Python cache and build junk
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.gz
*.zip

# Ignore local dirs
downloads/
screenshots/
json_out/

# Ignore git & local configs
.git
.gitignore
.env
venv/
.envrc
.idea/
.vscode/

# Ignore old files you don’t want deployed
crawler_cloud.py
crawler_async.py
